<%= render 'layouts/header' %><br><br>
<div class='container'>
  <div class="row text-center">
  <div class="well well-lg">
 <% @page_title = "UserAuth | Login" -%>
  <div class= "Sign_Form">
   <h1>Log in</h1>
   <%= form_tag(:action => 'login_attempt') do %>
     <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
     <p>Password:</br> <%= password_field_tag :login_password %></p> 
     <%= submit_tag("Log In") %><br><br>
   <% end %>
   <div style="border-style: solid; border-width: 2px; height: auto;">
   		<h5>Not a volunteer? <%= link_to "Register Now", '/users/new' %>
   </div>
   </div>
  </div>
</div>