<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => "91X10" %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, :size => "95X30" %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>