<%= form_for :welcome do |f| %>
<div class="col-md-6 text-center">
  <p>
    <%= f.label :first_name, 'First Name' %><br>
    <%= f.text_field :title, :size => "30x10" %>
  </p>
  <p>
    <%= f.label :last_name, 'Last Name' %><br>
    <%= f.text_field :text, :size => "30x10" %>
  </p>
  <p>
    <%= f.label :phoneNumber, 'Phone Number' %><br>
    <%= f.text_field :integer, :size => "30 x10" %>
  </p>
</div>

<div class="col-md-6 text-center">
  <p>
    <%= f.label :city, 'City' %><br>
    <%= f.text_field :string, :size => "30x10" %>
  </p>
  <p>
    <%= f.label :state, 'State' %><br>
    <%= f.select(:state) do %>
    <% [['California', 1], ['Nevada', 2], ['Oregon', 3]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
<% end %>
  </p>

  <p>
    <%= f.submit "Submit", class: 'btn btn-info' %>
  </p>
</div>
<% end %>
